# Never commit copyrighted game files, firmware, BIOS files, keys, or saves
roms/
games/
firmware/
bios/
saves/
keys/

*.nes
*.sfc
*.smc
*.fig
*.z64
*.n64
*.v64
*.gb
*.gbc
*.gba
*.nds
*.cue
*.ccd
*.chd
*.pbp
*.iso
*.cso
*.md
*.gen
*.bin
*.sms
*.gg
*.32x
*.a26
*.a52
*.a78
*.lnx
*.j64
*.jag
*.col
*.rom
*.vb
*.vboy
*.sav
*.srm
*.state

.DS_Store
Thumbs.db
node_modules/
.vercel/
